@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    touch-action: manipulation;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}

body {
    background-color: #141214;
}

.container-top {
    background-color: #010001;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Dropdown Button */
.dropbtn {
    background: none;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    border: none;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #010001;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #a6a6a6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


header {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

header a,
header i {
    font-size: 40px;
    font-weight: bold;
    margin: 1rem;
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    color: white;
}

.navbar-links i {
    position: absolute;
    bottom: .7rem;
    color: white;
    font-size: 30px;
}

nav li {
    display: inline;
}

nav li a {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: .55s;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -ms-transition: .55s;
    -o-transition: .55s;
}

nav li a:hover {
    color: white;
    text-decoration: none;
    margin: 1rem;
}

nav li a:active,
nav li a:link,
nav li a:visited {
    text-decoration: none;
    color: white;
}

.navbar-links {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-links label {
    padding: 0 10px;
}

.container-contact {
    padding: 80px 0;
}

.container-contact header {
    display: flex;
    justify-content: center;
}

.container-contact header h2 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contact form {
    display: grid;
    grid-gap: 20px;
    padding: 40px 0;
}

.container-contact form .box {
    padding: 0 0 0 105px;
}

.container-contact form .box input {
    padding: 10px 10px;
    width: 500px;
    height: 60px;
    background-color: #201f20;
    border: none;
    border-radius: 5px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.container-contact form .box textarea {
    padding: 10px 10px;
    width: 500px;
    height: 60px;
    background-color: #201f20;
    border: none;
    border-radius: 5px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.container-contact form .btn {
    padding: 0 0 0 105px;
}

.container-contact form .btn input {
    padding: 10px 10px;
    width: 500px;
    height: 40px;
    background-color: #32da6e;
    border: none;
    border-radius: 5px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #333;
    font-size: 17px;
    font-weight: 600;
}

.container-contact form .box input::placeholder {
    color: #555;
}

.social header h4 {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.social .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 105px;
}

.social .item button {
    background: none;
    border: 1px solid #1c1b1c;
    border-radius: 5px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 10px;
    width: 500px;
    height: 60px;
}

.social .item a {
    color: #32da6e;
    text-decoration: none;
    font-size: 17px;
}

footer {
    background-image: url(/Main/images/hero\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45rem;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 48px;
}

footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links {
    display: flex;
    gap: 30px;
}

footer .right .links a {
    color: #fff;
    transition: color 0.3s ease;
    font-size: 12px;
    text-decoration: none;
}

footer .right .links a:hover {
    color: #989898;
}

footer .right .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social a {
    color: white;
}

footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover {
    color: #304ffe;
}

footer .right p {
    font-size: 13px;
    color: #777;
}

footer .return {
    display: flex;
    justify-content: end;
    padding: 0 0 0 80px;
}

footer .return button {
    padding: 10px 25px;
    background: none;
    border: 1px solid #fff;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 1200px) {
    nav li a {
        padding: 5px;
    }

    .navbar-links label {
        padding: 0 30px;
    }

    footer {
        padding: 100px 40px;
    }

    footer h3 {
        font-size: 38px;
    }
}

@media screen and (max-width: 992px) {
    header {
        margin-left: 0px;
    }

    header h1,
    header i {
        font-size: 30px;
    }

    nav li a {
        font-size: 15px;
        padding: 10px;
    }

    /* Dropdown Button */
    .dropbtn {
        font-size: 15px;
    }

    footer {
        flex-direction: column;
        padding: 60px 40px;
    }

    footer .right {
        width: 100%;
        align-items: center;
    }

    footer .return {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {

    header h1,
    header i {
        font-size: 20px;
    }

    .navbar-links i {
        bottom: 1rem;
    }

    nav li a {
        padding: 0;
    }

    /* Dropdown Button */
    .dropbtn {
        font-size: 15px;
    }

    .container-contact form .box {
        padding: 0 0 0 40px;
    }

    .container-contact form .btn {
        padding: 0 0 0 40px;
    }

    .social .item {
        padding: 40px 0 40px 40px;
    }
}

@media screen and (max-width: 600px) {
    .container-contact form .box input {
        width: 450px;
    }

    .container-contact form .box textarea {
        width: 450px;
    }

    .container-contact form .btn input {
        width: 450px;
    }

    .social .item button {
        width: 450px;
    }

    .container-contact form .box {
        padding: 0 0 0 10px;
    }

    .container-contact form .btn {
        padding: 0 0 0 10px;
    }

    .social .item {
        padding: 40px 0 40px 10px;
    }
}

@media screen and (max-width: 430px) {

    .navbar {
        position: relative;
        background-color: #333;
    }

    .navbar-links ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navbar-links li a {
        display: block;
        padding: 1rem;
    }

    .navbar-links li:hover {
        background-color: #555;
    }

    .container-top-content .info {
        padding: 100px 30px;
    }

    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .navbar-links i {
        display: none;
    }

    .card .img img {
        width: 140px;
        height: 140px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card span {
        font-size: 15px;
    }

    .page-body-top {
        height: 170rem;
    }

    .list-images .item .info h4 {
        font-size: 20px;
    }

    .list-images .item {
        width: 35%;
    }

    footer {
        height: 45rem;
        padding: 50px 10px;
    }

    footer h3 {
        padding: 20px 0;
        font-size: 28px;
    }
}

@media (max-width: 500px) {

    nav li a,
    .navbar-linksbutton a,
    .navbar-links button a {
        font-size: 15px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        padding: 40px 40px;
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .container-contact form .box input {
        width: 300px;
    }

    .container-contact form .box textarea {
        width: 300px;
    }

    .container-contact form .btn input {
        width: 300px;
    }

    .social .item button {
        width: 300px;
    }

    .container-contact form .box {
        padding: 0 0 0 0px;
    }

    .container-contact form .btn {
        padding: 0 0 0 0px;
    }

    .social .item {
        padding: 40px 0 40px 0px;
    }
}